* {
  margin: 0;
  padding: 0;
}
.fL {
  float: left;
}
.fR {
  float: right;
}
.oH {
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.fS12 {
  font-size: 12px;
}
.fWB {
  font-weight: 700;
}
.tAC {
  text-align: center;
}
