.main {
  padding: 20px 14%;
  background: #f4eedf url(../img/bg_main.gif) repeat-y center 0;
}
.main .notice {
  margin: 2px 10px;
  border-bottom: 1px solid #aaaaaa;
  padding: 0 10px 20px 10px;
  background: url(../img/icon_s1.gif) no-repeat 0 0;
}
.main .infoSerTit {
  margin: 0 10px;
  background: url(../img/bg_titleservice.gif) repeat-x 0 0;
}
.main .searBar {
  margin: 0 10px 20px 10px;
  border: 1px solid #aaaaaa;
  padding: 10px 0 0 5px;
  height: 44px;
  background: url(../img/bg_boxsearch.gif) repeat-x 0 0;
}
.main .searBar input {
  margin: 0 10px;
  background: url(../img/bg_input1.gif) repeat-x 0 0;
  font-size: 16px;
  line-height: 30px;
}
.main .searBar #searBtn {
  border-radius: 10px;
  width: 89px;
  font-size: 18px;
  line-height: 30px;
  background: url(../img/bg_btn1.jpg) no-repeat 0 0;
  color: #ffffff;
}
.main .searNav {
  padding: 0 5%;
  width: 90%;
  background: url(../img/bg_titleservice2.jpg) no-repeat 0 0;
}
.main .searNav span {
  display: block;
  padding: 20px 110px 30px 10px;
  font-size: 18px;
  color: #ffffff;
}
.main .searIndex {
  padding: 20px 5%;
}
.main .searIndex dt {
  margin: 10px 0;
  height: 54px;
  background: url(../img/bg_titleservice.gif) repeat-x 0 0;
}
.main .searIndex dd {
  margin-left: 20px;
  border: 1px solid #999999;
  padding: 10px 0;
  background-color: #ededed;
}
.main .searIndex dd span {
  margin: 5px 0;
  display: block;
  width: 33%;
  background: url(../img/arrow_2.gif) no-repeat 20px 8px;
  text-indent: 2em;
}
.main .searIndex dd span a {
  color: #222222;
}
.main .searIndex dd span a:hover {
  color: #d00206;
  text-decoration: underline;
}
